In [2]:
import pandas as pd

# Load the Excel file
file_path = '../data/hochschule_wismar_gebaeude_001_lueftung_hoersaele_750.xlsx'
df = pd.read_excel(file_path)

# Display basic info
df.head()

,datetime,EFAN_dps,EFAN_dpw,EHA_t,ETA_co,ETA_rh,ETA_t,ODA_rh,ODA_t,PHEA_rh,...,hum_load,h_energy_actual,aux_energy,f_aux,fan_energy_actual,h_energy_final,e_energy_final,energy_costs_total,operational,check_cool
0,2023-05-23 09:15:00,256.942222,67.758000,21.777146,549.293333,50.723151,20.115667,79.308039,15.100000,64.574167,...,5.722564,0.000000,0,0,1.144230,0,0.000000,0.000000,True,True
1,2023-05-23 09:30:00,256.942222,65.468462,21.777146,549.293333,50.723151,20.115667,79.308039,15.100000,64.574167,...,5.673126,10.956503,0,0,1.126240,0,0.730046,0.292019,True,True
2,2023-05-23 09:45:00,256.710411,64.992852,21.777146,549.293333,50.723151,20.072412,79.308039,15.244078,64.574167,...,5.290762,10.837688,0,0,1.123078,0,0.728677,0.291471,True,True
3,2023-05-23 10:00:00,253.417115,66.077321,21.777146,549.293333,50.723151,20.004608,78.000000,15.209578,64.574167,...,4.700040,11.089365,0,0,1.116894,0,0.732039,0.292816,True,True
4,2023-05-23 10:15:00,256.764118,65.666078,21.777146,549.293333,50.723151,19.869961,77.920784,14.932206,64.574167,...,3.365220,11.533710,0,0,1.128818,0,0.732845,0.293138,True,True